%h1 Our Mailing Organizer

.ui.field
	= button_to "New Mailing", "/mailings/new", method: :get, class: "ui purple button "

.ui.list.relaxed.divided
	- @mailings.each do |m|
		.ui.item
			.ui.content
				%i.ui.center.alligned.mail.icon
				=link_to "#{m.type}, #{m.year}", m
