.content:before {
	content: "";
	background-image:  image-url("love.png");
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	height: 1.1in;
	width: 1.1in;
	margin: 0.2in;
	margin-left: 0;
}
.content {
  display: flex;
  flex-direction: row;
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.addressee {
	font-family: SignPainter;
	font-size: .25in;
}
.address-line {
	font-family: "Foglihten";
	font-weight: light;
	font-size: .18in;
}

